* {
    margin: 8px;
    padding: 0px;
    font-family: "PexicoMicro-Regular";
}

html {
    scroll-behavior: smooth;
    background-color: black;
}

@font-face {
    font-family: "PexicoMicro-Regular";
    src: url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.eot");
    src: url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.eot?#iefix") format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.ttf") format("truetype"),
        url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.svg#PexicoMicro-Regular") format("svg");
}

h1,
h2,
i,
p {
    color: white;
}

a {
    color: #0dacef;
}
