* {
    margin: 0px;
    padding: 0px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
}

h1,
p {
    color: white;
}

li {
    list-style: none;
}

.section {
    width: 100%;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-color: #272b36;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.navbar {
    height: 5rem;
    background: linear-gradient(90deg, rgba(47, 51, 64, 1) 33%, rgba(42, 130, 78, 1) 93%);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 20px;
    color: white;
}

.navbar-left {
    display: flex;
    gap: 15px;
    justify-self: start;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-center a:hover {
    color: rgb(127, 221, 162);
}

.navbar-right {
    display: flex;
    justify-self: end;
    gap: 15px;
}

.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #2f3340;
    padding: 20px;
    border-radius: 8px;
    gap: 15px;
}

.container img {
    border-radius: 50%;
    background-color: #86d68984;
    object-fit: cover;
    border: #3e4352 solid 8px;
}

.container h1 {
    font-size: 60px;
    margin: auto;
    color: #86d689;
}

.container p {
    color: #aaabb1;
}

.container ul {
    display: flex;
    gap: 15px;
    margin: auto;
}
